<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/showNav') %>
    <h1><%= task.title %><%- include('partials/deleteForm') %></h1>
    <%- include('partials/createRowForm') %>
    <%- include('partials/rowDiv') %>
  </body>
</html>
